@model SevkoBeyazEsya.Models.Kullaniciler

@{
    ViewBag.Title = "KayitEkle";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-description">Kullanıcı Ekle</p>
                            <form class="forms-sample">
                                <div class="form-group">
                                <label for="exampleInputName1">Kullanıcı Adı</label>
                                    @Html.TextBoxFor(x => x.Kullanici_Adi, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail3">Kullanıcı Soyadı</label>
                                    @Html.TextBoxFor(x => x.Kullanici_Soyadi, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword4">Kullanıcı Email</label>
                                    @Html.TextBoxFor(x => x.e_mail, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword4">Kullanıcı Telefon Numarası</label>
                                    @Html.TextBoxFor(x => x.telefon_numarasi, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword4">Kullanıcı Şifre</label>
                                    @Html.TextBoxFor(x => x.sifre, new { @class = "form-control", type = "password" })
                                </div>
                                <button type="submit" class="btn btn-primary mr-2">Ekle</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}